<div class="main-panel bg-dark">
    <div class="content bg-dark">
        <div class="page-inner">
            <div class="mt-2 mb-5">
                <h1 class="title1 text-light">Change Your password</h1> <br> <br>
            </div>

            <div class="mb-5 row">
                <div class="col-lg-8 offset-lg-2 card p-4 shadow-lg bg-dark">
                    <form method="post">
                        <%- include("./partials/messages.ejs")%>
                            <div class=" bg-dark mb-2">
                                <h5 class="text-light">Old Password</h5>
                                <input type="password" name="old_password" class="form-control text-light bg-dark"
                                    required>
                            </div>
                            <div class="bg-dark mb-2">
                                <h5 class="text-light">New Password* :</h5>
                                <input type="password" name="password" class="form-control text-light bg-dark" required>
                            </div>
                            <div class=" bg-dark mb-2">
                                <h5 class="text-light">Confirm Password*:</h5>
                                <input type="password" name="password2" class="text-light bg-dark form-control"
                                    required>
                            </div> <br>
                            <input type="submit" class="btn btn-primary" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer bg-dark text-light">
        <div class="container-fluid">
            <div class="text-center row copyright text-align-center">
                <p>All Rights Reserved &copy; crypto-trade-fx.com 2022</p>
            </div>
        </div>
    </footer>
</div>
</div>
</div>