<!doctype html>
<html lang="en">
<!-- Mirrored from coin.trustuniversalbitcoin.com/hom/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 Aug 2022 21:55:35 GMT -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>CryptoTrade FX Bitcoin | Forex, Cryptocurrency Trade and Investment Company</title>
    <link rel="stylesheet" type="text/css" href="ui/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="ui/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="ui/css/envas-icons.css">
    <link rel="stylesheet" type="text/css" href="ui/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="ui/css/cubeportfolio.min.css">
    <link rel="stylesheet" type="text/css" href="ui/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="ui/css/owl.transitions.css">
    <link rel="stylesheet" type="text/css" href="ui/css/settings.css">
    <link rel="stylesheet" type="text/css" href="ui/css/bootsnav.css">
    <link rel="stylesheet" type="text/css" href="ui/css/loader.css">
    <link rel="stylesheet" type="text/css" href="ui/css/style52e552e5.css?p=1587912412">
    <link rel="stylesheet" href="alert/css/fake-notification-min.css">
    <link rel="stylesheet" href="alert/css/animate.min.css">
    <link rel="icon" href="img/logo.png">
    <script src="/unpkg.com/sweetalert%402.1.2/dist/sweetalert.min"></script>
    <!-- CSS only -->

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript"
        src="https://coin.trustuniversalbitcoin.com/translate.google.com/translate_a/elementa0d8?cb=googleTranslateElementInit"></script>
</head>

<body>
    <div id="notification-1" class="notification">
        <div class="notification-block">
            <div class="notification-img">
                <!-- Your image or icon -->
                <i class="fa fa-btc" aria-hidden="true"></i>
                <!-- / Your image or icon -->
            </div>
            <div class="notification-text-block">
                <div class="notification-title">
                    <!-- Notification Title -->
                    Earning
                    <!-- / Notification Title -->
                </div>
                <div class="notification-text"></div>
            </div>
        </div>
    </div>

    <%-body%>

        <footer class="footer_top padding-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 footer_panel heading_space">
                        <a href="/" class="footer_logo bottom30"><img src="/img/logo.png" width="80" height="80"
                                alt="envas"></a>
                        <p class="bottom30">CryptoTrade FX Bitcoin LTD is a financial investment company established by
                            a
                            group of professional traders and investors, who have fore seen the future of International
                            Capital Market. The company has direct contracts with professional traders and miners around
                            the
                            world that guarantees the best services and ensures profits are made and remitted to
                            investors
                            daily.</p>
                    </div>
                    <div class="col-sm-4 footer_panel heading_space">
                        <h3 class="heading bottom30">Useful <span class="yellow_t">Links</span></h3>
                        <ul class="links">
                            <li><a href="/"><i class="icon-chevron-small-right"></i>Home</a></li>
                            <li><a href="/about"><i class="icon-chevron-small-right"></i>Company</a></li>
                            <li><a href="/faq"><i class="icon-chevron-small-right"></i>FAQ</a></li>

                            <li><a href="/terms-conditions"><i class="icon-chevron-small-right"></i>Terms &
                                    Conditions</a></li>
                            <li><a href="/aml-policy"><i class="icon-chevron-small-right"></i>AML Policy</a></li>
                            <li><a href="/privacy-policy"><i class="icon-chevron-small-right"></i>Privacy Policy</a>
                            </li>
                            <li><a href="/payment-policy"><i class="icon-chevron-small-right"></i>Payment Policy</a>
                            </li>
                            <li><a href="/login">
                                    <iclass="icon-chevron-small-right"></i>Start Investing
                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Copyright &copy; 2021 <a href="#">CryptoTrade FX Bitcoin</a>. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>

        <script src="//code.tidio.co/ymhlo8plyhoetws0t1frmcpmudzsxe4y.js" async></script>
        <!-- GetButton.io widget -->
        <script type="text/javascript">
            (function () {
                var options = {
                    whatsapp: "+18027681964", // WhatsApp number
                    call_to_action: "Message us", // Call to action
                    position: "left", // Position may be 'right' or 'left'
                };
                var proto = document.location.protocol,
                    host = "getbutton.io",
                    url = proto + "//static." + host;
                var s = document.createElement('script');
                s.type = 'text/javascript';
                s.async = true;
                s.src = url + '/widget-send-button/js/init.js';
                s.onload = function () {
                    WhWidgetSendButton.init(host, proto, options);
                };
                var x = document.getElementsByTagName('script')[0];
                x.parentNode.insertBefore(s, x);
            })();
        </script>

        <script src="ui/js/jquery-2.2.3.js"></script>
        <script src="ui/js/bootstrap.min.js"></script>
        <script src="ui/js/jquery.parallax-1.1.3.js"></script>
        <script src="ui/js/jquery.appear.js"></script>
        <script src="ui/js/jquery-countTo.js"></script>
        <script src="ui/js/bootsnav.js"></script>
        <script src="ui/js/jquery.cubeportfolio.min.js"></script>
        <script src="ui/js/owl.carousel.min.js"></script>
        <script src="ui/js/viedobox_video.js"></script>
        <script src="ui/js/jquery.themepunch.tools.min.js"></script>
        <script src="ui/js/jquery.themepunch.revolution.min.js"></script>
        <script src="ui/js/jquery.themepunch.revolution.min.js"></script>
        <script src="ui/js/revolution.extension.layeranimation.min.js"></script>
        <script src="ui/js/revolution.extension.navigation.min.js"></script>
        <script src="ui/js/revolution.extension.parallax.min.js"></script>
        <script src="ui/js/revolution.extension.slideanims.min.js"></script>
        <script src="ui/js/revolution.extension.video.min.js"></script>
        <script src="ui/js/wow.min.js"></script>
        <script src="ui/js/functionsaed0aed0.js?u=1587912412"></script>
        <script type="text/javascript" src="alert/js/jquery.fake-notification.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#notification-1').Notification({
                    // Notification varibles
                    Varible1: ["Dirk", "Johnny", "Watkin ", "Alejandro", "Vina", "Tony", "Ahmed", "Jackson", "Noah", "Aiden", "Darren", "Isabella", "Aria", "John", "Greyson", "Peter", "Mohammed", "William",
                        "Lucas", "Amelia", "Mason", "Mathew", "Richard", "Chris", "Mia", "Oliver"],
                    Varible2: ["USA", "UAE", "ITALY", "FLORIDA", "MEXICO", "INDIA", "CHINA", "CAMBODIA", "UNITED KINGDOM", "GERMANY", "AUSTRALIA", "BANGLADESH", "SWEDEN", "PAKISTAN", "MALDIVES", "SEYCHELLES",
                        "BOLIVIA",
                        "SOUTH AFRICA", "ZAMBIA", "ZIMBABWE", "LEBANESE", "SAUDI ARABIA", "CHILE", "PEUTO RICO"],

                    Amount: [9000, 2500, 5000, 6669, 4440, 7989, 7052],
                    Content: '[Varible1] from [Varible2] has just Earned <b>$[Amount]</b>',
                    // Timer
                    Show: ['stable', 5, 10],
                    Close: 5,
                    Time: [0, 23],
                    // Notification style 
                    LocationTop: [true, '30%'],
                    LocationBottom: [false, '10%'],
                    LocationRight: [false, '10%'],
                    LocationLeft: [true, '10px'],
                    Background: '#000000',
                    BorderRadius: 5,
                    BorderWidth: 1,
                    BorderColor: '#ff9900',
                    TextColor: 'white',
                    IconColor: '#ffffff',
                    // Notification Animated   
                    AnimationEffectOpen: 'slideInUp',
                    AnimationEffectClose: 'slideOutDown',
                    // Number of notifications
                    Number: 40,
                    // Notification link
                    Link: [false, 'index-2', '_blank']

                });
            });
            $("form#contact-form").submit(function (e) {
                e.preventDefault();
                var formData = new FormData(this);
                $.ajax({
                    url: 'process-contact.php',
                    type: 'POST',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $('#btnContact')("Sending Message <i class='fa fa-spinner fa-spin'></i>").attr("disabled", true);
                    },
                    success: function (data) {
                        $('#btnContact')("Send Message <i class='fa fa-rocket'></i>").attr("disabled", false);
                        if (data == "Done") {
                            swal("Message Sent", "You message was successfully sent to support. You will get a feedback soon", "success");
                            $("form#contact-form").trigger("reset");
                        } else {
                            swal("Error", data, "warning");
                        }
                    },
                    error: function () {
                        swal("Network Unavailable", "Please check your internet connection", "warning");
                        $('#btnContact')("Send Message <i class='fa fa-rocket'></i>").attr("disabled", false);
                    }
                });
            });
        </script>

</body>



<!-- Mirrored from coin.trustuniversalbitcoin.com/hom/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 Aug 2022 21:56:16 GMT -->

</html>