<div class="main-panel bg-dark">
    <div class="content bg-dark">
        <div class="page-inner">

            <div class="mb-5 row p-md-3 ">
                <div class="shadow col-12 p-md-2">
                    <div class="col-12 text-center bg-dark p-3">
                        <h1 class="title1 text-light">Crypto Trade FX Support</h1>
                        <div class="sign-up-row widget-shadow text-light">
                            <h4 class="text-light">For inquiries, suggestions or complains. Mail us at</h4>
                            <h5 class="text-light mt-3">osemwengiekennedy@gmail.com
                        </div>
                    </div>
                    <!-- <div class="col-md-8 offset-md-2">
                        <form method="post" action="https://coin.trustuniversalbitcoin.com/sendcontact">
                            <input type="hidden" name="name" value="John Doe" />
                            <div class="form-group">
                                <input type="hidden" name="email" value="godwinide@gmail.com">
                            </div>
                            <div class="form-group">
                                <h5 for="" class="text-light">Subject <span class=" text-danger">*</span></h5>
                                <input type="text" name="subject" class="form-control text-light bg-dark" required>
                            </div>
                            <div class="form-group">
                                <h5 for="" class="text-light">Message<span class=" text-danger">*</span></h5>
                                <textarea name="message" class="form-control text-light bg-dark" rows="5"></textarea>
                            </div>
                            <input type="hidden" name="_token" value="IAzVd2MMTP47exOC3NBGti9VxM8I4eBC0myr3je9">
                            <div class="">
                                <input type="submit" class="py-2 btn btn-primary btn-block" value="Send">
                            </div>


                            <input type="hidden" name="id" value="21">
                            <input type="hidden" name="current_password"
                                value="$2y$10$GT3fDMN2K7NoquqwDALGReNSIAIZZmvaD/sAB9aGysFIlA4H9EMou">
                            <input type="hidden" name="_token" value="IAzVd2MMTP47exOC3NBGti9VxM8I4eBC0myr3je9"><br />
                        </form>
                    </div> -->
                </div>

            </div>
        </div>
    </div>
    <footer class="footer bg-dark text-light">
        <div class="container-fluid">
            <div class="text-center row copyright text-align-center">
                <p>All Rights Reserved &copy; Crypto Trade FX 2022</p>
            </div>
        </div>
    </footer>
</div>
</div>
</div>