<div class="main-panel bg-dark">
    <div class="content bg-dark">
        <div class="page-inner">
            <div class="mt-2 mb-4">
                <h1 class="title1 text-light">Request for Withdrawal</h1>
            </div>
            <%- include("./partials/messages.ejs")%>
                <div class="mb-5 row">
                    <div class="col-lg-4 p-3 rounded card bg-dark">
                        <div class="shadow card-body border-danger">
                            <h2 class="card-title mb-3 text-light"> Bitcoin</h2>
                            <h4 class="text-light">Minimum amount: <strong style="float:right;"> $200</strong></h4><br>

                            <h4 class="text-light">Maximum amount:<strong style="float:right;"> $50000</strong></h4><br>

                            <h4 class="text-light">Charges (Fixed):<strong style="float:right;"> $5</strong></h4><br>

                            <h4 class="text-light">Charges (%): <strong style="float:right;"> 25%</strong></h4><br>

                            <h4 class="text-light">Duration:<strong style="float:right;"> Instant</strong></h4><br>
                            <div class="text-center">
                                <a class="btn btn-primary" href="#" data-toggle="modal"
                                    data-target="#withdrawalModal1"><i class="fa fa-plus"></i> Request withdrawal</a>

                            </div>

                        </div>
                    </div>

                    <!-- Withdrawal Modal -->
                    <div id="withdrawalModal1" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header bg-dark">
                                    <h4 class="modal-title text-light">Payment will be sent through your selected
                                        method.
                                    </h4>
                                    <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body bg-dark">
                                    <form style="padding:3px;" role="form" method="post">
                                        <input class="form-control text-light bg-dark" placeholder="Enter amount here"
                                            type="text" name="amount" required><br />
                                        <select class="form-control" name="method">
                                            <option value="bitcoin">Bitcoin</option>
                                            <option value="bank">Bank Transfer</option>
                                        </select>

                                        <br>

                                        <input type="submit" class="btn btn-primary" value="Submit"
                                            onclick="this.disabled = true; form.submit(); this.value='Please Wait ...';" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Withdrawal Modal -->
                <div id="withdrawdisabled" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header bg-dark">
                                <h4 class="modal-title text-light">Withdrawal Status</h4>
                                <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body bg-dark">
                                <h4 class="text-light">Withdrawal is Disabled at this time, Please contact admin for
                                    more
                                    details</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Withdrawals Modal -->
        </div>
    </div>
    <footer class="footer bg-dark text-light">
        <div class="container-fluid">
            <div class="text-center row copyright text-align-center">
                <p>All Rights Reserved &copy; Crypto Trade FX 2022</p>
            </div>
        </div>
    </footer>
</div>
</div>
</div>